/* modified old AniList color palette */
:root {
  --c-white: #edf1f5;
  --c-white-2: #e5ebf1;

  --c-black: #22242b;
  --c-black-2: #2d2f37;
  --c-black-3: #353944;

  --c-blue: #34bbff;
  --c-blue-2: #3391c0;
  --c-blue-bg: #34bbff20;

  --c-red: #b33737;

  --c-pink: #fc9dd6;
  --c-pink-bg: #fc9dd620;

  --c-orange: #e38f35;
  --c-orange-bg: #e38f3520;

  --c-text-light-1: #222;
  --c-text-light-2: #3c3c3ca8;
  --c-text-dark-1: #fff;
  --c-text-dark-2: #fff;

  --theme-transition: 0.4s;
}

/* defaults (dark theme) */
:root {
  --color-background: var(--c-black);
  --color-background-secondary: var(--c-black-2);
  --color-background-border: var(--c-black-3);

  --color-text: var(--c-text-dark-2);

  --color-accent: var(--c-blue);
  --color-error: var(--c-red);
  --color-logo: var(--c-blue-2);
}

/* light theme overrides */
body[data-theme='light'] {
  --color-background: var(--c-white);
  --color-background-secondary: var(--c-white-2);

  --color-text: var(--c-text-light-1);
  --color-accent: var(--c-blue-2);
}

* {
  box-sizing: border-box;
}

/* general style */
body {
  /* Colors */
  color: var(--color-text);
  background: var(--color-background);

  margin: 0;

  /* Smooth theme switching */
  transition: color var(--theme-transition),
    background-color var(--theme-transition);

  /* Font */
  line-height: 1.6;
  font-family: 'JostVariable';
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  transition: opacity 200ms, color var(--theme-transition);
}

a:hover {
  opacity: 0.8;
}
