/* modified old AniList color palette */
:root {
  --c-white: #ffffff;
  --c-black: #272c38;

  --c-blue: #34bbff;
  --c-red: #b33737;

  --c-text-light-1: var(--vt-c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: #fff;
  --c-text-dark-2: #fff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);

  --color-text: var(--c-text-light-1);
  --color-accent: var(--c-blue);
  --color-error: var(--c-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);

    --color-text: var(--c-text-dark-2);
  }
}

* {
  box-sizing: border-box;
}

body {
  /* Colors */
  color: var(--color-text);
  background: var(--color-background);

  margin: 0;

  /* Smooth theme switching */
  transition: color 0.5s, background-color 0.5s;

  /* Font */
  line-height: 1.6;
  font-family: 'JostVariable';
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  transition: opacity 200ms;
}

a:hover {
  opacity: 0.8;
}
