/* modified old AniList color palette */
:root {
  --c-white: #edf1f5;
  --c-white-2: #edf1f5;

  --c-black: #272c38;
  --c-black-2: #2d3340;

  --c-blue: #34bbff;
  --c-blue-2: #3391c0;

  --c-red: #b33737;

  --c-text-light-1: #222;
  --c-text-light-2: #3c3c3ca8;
  --c-text-dark-1: #fff;
  --c-text-dark-2: #fff;

  --theme-transition: 0.4s;
}

/* defaults (dark theme) */
:root {
  --color-background: var(--c-black);
  --color-background-secondary: var(--c-black-2);

  --color-text: var(--c-text-dark-2);

  --color-accent: var(--c-blue);
  --color-error: var(--c-red);
  --color-logo: var(--c-blue-2);
}

/* light theme overrides */
body[data-theme='light'] {
  --color-background: var(--c-white);
  --color-background-secondary: var(--c-white-2);

  --color-text: var(--c-text-light-1);
}

* {
  box-sizing: border-box;
}

/* general style */
body {
  /* Colors */
  color: var(--color-text);
  background: var(--color-background);

  margin: 0;

  /* Smooth theme switching */
  transition: color var(--theme-transition),
    background-color var(--theme-transition);

  /* Font */
  line-height: 1.6;
  font-family: 'JostVariable';
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  transition: opacity 200ms, color var(--theme-transition);
}

a:hover {
  opacity: 0.8;
}
